.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.nav-item > ul {
  display: flex;
  list-style-type: none;
}

.nav-item > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  padding: 5px;
  margin: 15px;
  width: 200px;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.filter-btn {
  padding: 10px;
  display: flex;
}

.res-logo {
  width: 100%;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 200px;
  height: 400px;
  background-color: black;
  margin: 10px;
  padding: 10px;
}

.login {
  padding: 10px;
  margin: 5px;
}
